@inherits ComponentBase

<div>
    <h3>@Module.Name</h3>
   
    <p>Start date: @Module.StartDate.ToShortDateString()</p>
    <p>End date: @Module.EndDate.ToShortDateString()</p>
</div>

@code {
    [Parameter]
    public ModuleDTO Module { get; set; }
}