@inherits ComponentBase

<div>
    
    
    <p><strong>Start date:</strong> @Module.StartDate.ToShortDateString()</p>
    <p><strong>End date:</strong> @Module.EndDate.ToShortDateString()</p>
</div>

@code {
    [Parameter]
    public ModuleDTO Module { get; set; }
}