@using LMS.Shared.DTOs

@if (Module.Activities.Any())
{
    <p><strong>Activities in module:</strong></p>
    <ul>
        @foreach (var activity in Module.Activities)
        {
            <li>
                <a href="@($"activityoverview/{activity.Id}")">
                    @activity.Name - @activity.StartDate.ToShortDateString()
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>No activities available.</p>
}

@code {
    [Parameter]
    public ModuleDTO Module { get; set; }
}
