@inherits ComponentBase


<div class="nav-item px-3">
    <button class="nav-link" @onclick="ToggleSubMenu">
        <span class="@IconClass" aria-hidden="true"></span> @Title
    </button>
    @if (IsSubMenuOpen)
    {
        <div class="ml-3">
            @ChildContent
        </div>
    }
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string IconClass { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    private bool IsSubMenuOpen { get; set; }

    private void ToggleSubMenu()
    {
        IsSubMenuOpen = !IsSubMenuOpen;
    }
}
