@page "/activities/{ModuleId:guid}"
@using System.Net.Http
@using LMS.Shared.Dtos
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Teacher, Student")]

<h3>Activities in @module.Name</h3>

@if (module != null)
{
    <ModuleActivities Module="module" />
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public Guid ModuleId { get; set; }
    private ModuleDTO module;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        module = await httpClient.GetFromJsonAsync<ModuleDTO>($"https://localhost:7050/api/module/{ModuleId}");
    }
}
