@page "/activityoverview/{ActivityId:guid}"
@using System.Net.Http
@using LMS.Shared.DTOs
@using Microsoft.AspNetCore.Authorization


@attribute [Authorize(Roles = "Teacher, Student")]

<h3>Overview of @activity.Name</h3>
@if (activity != null)
{
    <ActivityInfo Activity="activity" />
}
else
{
    <p>Loading..</p>
}

@code {
    [Parameter]
    public Guid ActivityId { get; set; }
    private ActivityDTO activity;


    protected override async Task OnInitializedAsync()
    {
        // Call your ActivityController directly to fetch activity information
        var httpClient = new HttpClient();
        activity = await httpClient.GetFromJsonAsync<ActivityDTO>($"https://localhost:7050/api/activity/{ActivityId}");
    }
}
