@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Text.Json
@using LMS.Shared.Dtos
@using Microsoft.AspNetCore.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager
@inject HttpClient Http



<PageTitle>Index</PageTitle>

<h1>Welcome to the Application</h1>

@* <ApplicationOverview id="12345" /> *@
<h1>LMS</h1>

Welcome to LMS.

<AuthorizeView Roles="Teacher">
    <Authorized >
        <h5>Hi @currentUser.FullName</h5><br />
        <h6>You are signed in as Teacher!</h6>
        <h6>Course: @currentUser.Course.Name</h6>
        <a class="btn btn-primary" href="/moduleslist/{@currentUser.Course.Id}" role="button">Modules</a>
        <a class="btn btn-primary" href="useroverview/{@currentUser.Id}" role="button">Details</a>
    </Authorized>
</AuthorizeView>


<AuthorizeView Roles="Student">
    <Authorized>
        <h5>Hi @currentUser.FullName</h5><br />
        <h6>You are signed in as Student!</h6>
        <h6>Course: @currentUser.Course.Name</h6>
        <a class="btn btn-primary" href="useroverview/{@currentUser.Id}" role="button">Details</a>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h6>Hello visitor!</h6>
    </NotAuthorized>
</AuthorizeView>


@code {

    private string userId = string.Empty;
    private ApplicationUserDTO currentUser;
    private CourseDTO userCourse;
    private ModuleDTO userModule;

    private async Task GetUserInformation()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userId = user.FindFirst(c => c.Type == "sub")?.Value;
            currentUser = await Http.GetFromJsonAsync<ApplicationUserDTO>($"api/ApplicationUser/{userId}");

        }
        else
        {
            // User is not authenticated
        }
    }

    // private void NavigateToUserOveriew()
    // {
    //     NavManager.NavigateTo($"/ApplicationUserOverview/{currentUser.Id}");
    // }

    protected override async Task OnInitializedAsync()
    {
        await GetUserInformation();
        // if (currentUser.IsTeacher)
        // {
        //     NavigateToUserOveriew();
        // }
    }
}