@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Application</h1>

<ApplicationOverview id="12345" />
<h1>LMS</h1>

Welcome to LMS.


<AuthorizeView Roles="Teacher">
    <Authorized >
        <h5>Hi Teacher: @context.User.Identity?.Name!</h5><br />
        <h6>You are signed in as Teacher!</h6>
    </Authorized>
</AuthorizeView>


<AuthorizeView Roles="Student">
    <Authorized>
        <h5>Hi Student: @context.User.Identity?.Name!</h5><br />
        <h6>You are signed in as student!</h6>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h6>You are visitor!</h6>
    </NotAuthorized>
</AuthorizeView>
